@import "box.scss";

*{
  margin:0;
  padding:0;
  border:0;
  font-size:12px;
  font-weight:normal;
  line-height:1em;
  outline:none;
}
h1{
  @include title(24px);
}
h2{
  @include title(16px);
}
.box{
 @include box;
}

.inline{
 
}

