* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1em;
  outline: none; }

h1 {
  font-size: 24px;
  line-height: 2em;
  color: white;
  background-color: blue;
  font-weight: bold; }

h2 {
  font-size: 16px;
  line-height: 2em;
  color: white;
  background-color: blue;
  font-weight: bold; }

.box {
  width: 100px;
  height: 100px;
  padding: 10px;
  border: 1px solid #cccccc;
  margin: 20px; }
