@import "box.scss";
$w:150px;
$h:100px;
$p:10px;
$b:1px solid #000;
$m:20px;
$l:2em;

*{
  margin:0;
  padding:0;
  border:0;
  font-size:12px;
  font-weight:normal;
  line-height:1em;
  outline:none;
}
h1{
  @include title(24px);
}
h2{
  @include title(16px);
}
.box{
 @include box($w,$h,$p,$b,$m);
}
.inline-block{
 @include inline-block($w,$h,$p,$b,$m,3em);
}
.fl{
  @include fl(30px);
}



.flwrap{
width:300px;
}
