@mixin box($width:100px,$height:100px,$padding:10px,$border:1px solid #ccc,$margin:20px){
	width:$width;
	height:$height;
	padding:$padding;
	border:$border;
	margin:$margin;
}

@mixin title($size:14px,$height:2em,$back:blue,$color:#fff,$weight:bold){
  font-size:$size;
  line-height:$height;
  color:$color;
  background-color:$back;
  font-weight:$weight;
}
