.ks-tdform .input-content{
	height:36px;
	margin-bottom:10px;
}
.ks-tdform .input-label{
	line-height:36px;
	float: left;
	display: inline;
	width: 100px;
	text-align: right;
}

.ks-tdform .input-wrap{
	padding:3px;
	float:left;
}
.ks-tdform .error .input-wrap{
	background:#ffdac2;
}
.ks-tdform .right .input-wrap{
   background:#bfea8e;
}

.ks-tdform .input-border{
	display: inline-block;
	border:1px solid #fff;
}
.ks-tdform .focus .input-border{
	border:none;
}
.ks-tdform .error .input-border{
	border:1px solid #ffdac2;
}
.ks-tdform .right .input-border{
	border:1px solid  #BFEA8E;
}

.ks-tdform .input-text{
	height:24px;
	line-height:24px;
	width:200px;
	border:1px solid #e5e5e5;
	vertical-align:middle;
}
.ks-tdform .default .input-text{
	color: #999;
}
.ks-tdform .focus .input-text{
	border:2px solid #8AAADE;
}
.ks-tdform .right .input-text{
	border:1px solid #5ea00e;
}
.ks-tdform .error .input-text{
	border:1px solid #ee7b2f;
}

.ks-tdform .input-tip{
	display:inline-block;
	margin:9px 0px 0px 5px;
}
.ks-tdform .error .input-tip,.ks-tdform .right .input-tip{
	background-image:url("formvalid.png");
	color:#FF6600;
	background-position:0 -1674px;
	padding-left:23px;
}
.ks-tdform .right .input-tip{
	background-position:0 -1643px;
	color:#5EA00E;
}
.ks-tdform .input-select{
	margin-top:10px;
}
