a,a:link ,a:visited,a:hover,a:active{
	text-decoration: none;
}
a:link{
	color:#0044DD;
}
a:hover{
	color:#f60;
}
a:visited{
	color:red;
}
#cs-page{
	width:80%;
	margin:20px auto;
}
/**=======================
 * 	标题
 ==========================*/
.cs-header{
	text-align:center;
	font-weight:bolder;
	font-size:24px;
	color: #FC5F00;
}
.mod-title{
	border-bottom:1px dashed #008000;
	line-height: 2em;
	margin: 10px 0;
}

h1.mod-title{
	font-size:24px;
	font-weight:bolder;
	color:#008000
}
/**==============================
 * 	提要
 =================================*/
details{
	background-position: 10px 50%;
    background-repeat: no-repeat;
    color: #000000;
    margin: 1em 0;
    padding:2em;
    background-color: #FFF79F;
    border-radius: 20px 20px 20px 20px;
}
.cs-list{
	list-style-type: decimal;
	padding-left: 2em;
	line-height: 2em;
}


/**=======================
 * 	文章
 ============================*/
p{
	text-indent:2em;
	text-align: justify;
	line-height:2em;
}
.cs-article{
	background-color: #ECF4FC;
	padding: 1em;
	border-radius:10px;
}
.cs-article header{
	text-align:center;
	
}
/**
 * 	侧边导航
 */

.cs-fixwin{
	position:fixed;
	bottom: 2em;
	right:2em;
}

/**=====================================
 * 代码
 ===================================*/
.cs-mod code {
	display:block;
	background-color: #F7F7F7;
    border-color: #F9F7EE #F9F7EE #F9F7EE #6CE26C;
    border-style: solid;
    border-width: 1px 1px 1px 5px;
    color: #333333;
    line-height: 20px;
    margin: 10px 0;
    padding: 15px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
/**=================================
 * 	表格
 ===================================*/

.cs-grid{
	width:100%;
	border: 1px solid #ccc;
	
}
.cs-grid caption{
	line-height: 32px;
}
.cs-grid td,.cs-grid th{
	border: 1px solid #ccc;
	padding:5px 10px;
	line-height: 24px;
}
.cs-grid th{
	font-weight: bold;
    background-color: #6199DF;
    color: #FFFFFF;
}
/**=================================
 * 	按钮
 ===================================*/
.cs-abtn{
	padding: 2px 8px;
	line-height: 16px;
	height:16px;
	font-size:12px;
	
}
